html, body {
    margin: 0;
    height: 100%;
    background-color: lightslategray;
    font-family: 'Silkscreen';
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square {
    background-color: white;
}

.container {
    display:flex;
    width: 640px;
    height: 640px;
    flex-wrap: wrap;
    background-color: white;
    
}

.hovered {
    background-color: black;
}

.test{
    background-color: black;
}

.header{
    display: flex;
    gap: 400px;
}